
// page colors 
$primary-color: navy;
$background-color: #F5F5F5;

// text colors
$dark-text: #2F4F4F;
$light-text: #F5F5F5;

// fonts
// $title-font: 'Concert One', cursive;
$text-font: 'Montserrat';
$title-font: 'Montserrat', Bold;
$footer-height: 50px;


